body{
  margin: 0;
}

.table{
  display: grid;
  width: 400px;
  height: 400px; 
}

div{
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
}

.black{
  background-image: url(black.png);
  background-size: 100%;
  z-index: 99;


}

.white{
  background-image: url(white.png);
  background-size: 100%;
  z-index: 99;

}

.blackcell{
  background-color: #965411;
}

.whitecell{
  background-color: #F0AF6F;

}


